*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-right: 76px;
    padding: 24px 0;
}

.blue {
    color: #2e2f42;
}

.address-list {
    display: flex;
    justify-content: center;
    margin-left: 332px;
    padding: 24px 0;
    gap: 40px;
}

.header .container {
    justify-content: space-between;
}

.address-link {
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:active,
.address-link:focus {
    color: #404bbf;
}

.team-list-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.text-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.names {
    padding: 32px 0px;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-four .container {
    flex-direction: column;
}

.item-header {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.section-three .item-header {
    text-align: center;
}

.section-three .paragraph {
    text-align: center;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    width: 100%;
}

.section-one .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.section-two {
    padding: 120px 0;
    width: 100%;
}

.section-two-list {
    display: flex;
    gap: 24px;
}

.title {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.02em;
    size: 56px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.button {
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
    width: 100%;
}

.section-header {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer .container {
    flex-direction: column;
}

.section-three .container {
    flex-direction: column;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.text {
    color: #f4f4fd;
    size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.logo-end {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.white {
    color: #f4f4fd;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
