*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
}
.navigation {
    border-bottom: 1px solid #e7e9fc;
}
.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation-nav {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    gap: 40px;
}
.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-right: 76px;
    padding: 24px 0;
}
.blue {
    color: #2e2f42;
}
.adress-list {
    display: flex;
    justify-content: center;
    margin-left: 332px;
    padding: 40px 0;
    gap: 40px;
}
.address-link {
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:active,
.address-link:focus {
    color: #404bbf;
}
.team {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    background-color: #ffffff;
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.listclass {
    display: flex;
    gap: 24px;
}
.listfour {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.four {
    width: calc((100% - 48px) / 3);
}
.textfour {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.names {
    padding: 32px 16px;
}
.sectionfour {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: left;
}
.sectionone {
    background-color: #2e2f42;
    padding: 188px 0;
    width: 100%;
}
.sectiontwo {
    padding: 120px 0;
    width: 100%;
}
.list {
    display: flex;
    gap: 24px;
}
.title {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.02em;
    size: 56px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}
.cursor {
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.cursor:hover,
.cursor:focus {
    background-color: #404bbf;
}
.sectionthree {
    background-color: #f4f4fd;
    padding: 120px 0;
    width: 100%;
}

.sectionheader {
    margin-bottom: 72px;
    text-align: center;
    padding: 72px 0;
}

.div-class {
    padding: 32px 16px;
}

.footer-background {
    background-color: #2e2f42;
    padding: 100px 0;
}
.text {
    color: #f4f4fd;
    size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}
.logo-end {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.white {
    color: #f4f4fd;
}
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
